.check-container {
    display: flex;
    padding: 25px;
    .check-item {
        display: flex;
        padding-right: 30px;
    }
}
.tt-table {
    width: 100%;
    background: lightblue;
    .ngx-datatable {
        .datatable-body {
            .datatable-body-row {
                height: 80px;
                display: flex;
                align-items: center; 
            }
            .datatable-row-detail {
                background: #fff;
                .info {
                    width: 80%;
                    margin: auto;
                    padding: 20px;
                }
            }
        }
    }
}