<div class="jobs-component">
    <!-- checkbox filter -->
    <div class="check-container">
        <div class="check-item" *ngFor="let jobType of jobTypes">
            <input type="checkbox" [(ngModel)]="jobType.selected" /> {{jobType.name}}
        </div>
    </div>
    <div class="tt-table">
        <!-- table -->
        <!-- <ngx-datatable #myTable [columnMode]="'force'" [rowHeight]="'auto'" [rows]='jobs' [selected]="selected" [selectionType]="'checkbox'"> -->
        <ngx-datatable #myTable [columnMode]="'force'" [rowHeight]="'auto'" [selected]="selected" [rows]='jobs | jobType: selectedjobTypes'>
            <!-- Column Templates -->
            <ngx-datatable-column>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="new">
                        New
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <!-- jobsName -->
            <ngx-datatable-column>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="order">
                        <div class="type-work">{{row.type }}</div>
                        <div class="name-work">{{row.name}}</div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <!-- time posted -->
            <ngx-datatable-column>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="posted">
                        {{row.posted}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <!-- open info -->
            <ngx-datatable-column [width]="50" [sortable]="true" [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a href="javascript:void(0)" [class.datatable-open]="!expanded" [class.datatable-close]="expanded" (click)="toggleExpandRow(row)">
                    Info</a>
                </ng-template>
            </ngx-datatable-column>
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="info">
                        {{row.info}}
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>
        </ngx-datatable>
    </div>
</div>